In [1]:
import pandas as pd
from Bio import SeqIO

In [2]:
def fasta_to_dataframe(fasta_file, kelas):
    data = []
    
    for record in SeqIO.parse(fasta_file, "fasta"):
        data.append({
            "id": record.id,
            "urutan": str(record.seq),
            "kelas": kelas
        })
        
    return pd.DataFrame(data)

In [3]:
fasta_dengue = "Dataset/Dengue_Fever.fasta"
fasta_shock = "Dataset/Shock_Syndrome.fasta"
fasta_shock1 = "Dataset/Shock1.fasta"
fasta_shock2 = "Dataset/Shock2.fasta"
fasta_shock3 = "Dataset/Shock3.fasta"
fasta_shock4 = "Dataset/Shock4.fasta"
fasta_shock5 = "Dataset/Shock5.fasta"
fasta_shock6 = "Dataset/Shock6.fasta"
fasta_shock7 = "Dataset/Shock7.fasta"
fasta_shock8 = "Dataset/Shock8.fasta"
fasta_shock9 = "Dataset/Shock9.fasta"
fasta_shock10 = "Dataset/Shock10.fasta"
fasta_shock11 = "Dataset/Shock11.fasta"
fasta_shock12 = "Dataset/Shock12.fasta"
fasta_shock13 = "Dataset/Shock13.fasta"

In [4]:
df_dengue = fasta_to_dataframe(fasta_dengue, 0)

df_shock = fasta_to_dataframe(fasta_shock, 1)
df_shock1 = fasta_to_dataframe(fasta_shock1, 1)
df_shock2 = fasta_to_dataframe(fasta_shock2, 1)
df_shock3 = fasta_to_dataframe(fasta_shock3, 1)
df_shock4 = fasta_to_dataframe(fasta_shock4, 1)
df_shock5 = fasta_to_dataframe(fasta_shock5, 1)
df_shock6 = fasta_to_dataframe(fasta_shock6, 1)
df_shock7 = fasta_to_dataframe(fasta_shock7, 1)
df_shock8 = fasta_to_dataframe(fasta_shock8, 1)
df_shock9 = fasta_to_dataframe(fasta_shock9, 1)
df_shock10 = fasta_to_dataframe(fasta_shock10, 1)
df_shock11 = fasta_to_dataframe(fasta_shock11, 1)
df_shock12 = fasta_to_dataframe(fasta_shock12, 1)
df_shock13 = fasta_to_dataframe(fasta_shock13, 1)

# Gabungkan kedua DataFrame menjadi satu
df_combined = pd.concat([df_dengue, df_shock,
                         df_shock1, df_shock2, df_shock3, df_shock4, df_shock5, df_shock6, df_shock7, df_shock8, df_shock9, df_shock9,
                         df_shock10, df_shock11, df_shock12, df_shock13], ignore_index=True)

In [5]:
df_combined

,id,urutan,kelas
0,FW366603.1,AGTTGTTAGTCTACGTGGACCGACAAAGACAGATTCTTTGAGGGAG...,0
1,FW366602.1,AGTTGTTAGTCTACGTGGACCGACAAGAACAGTTTCGAATCGGAAG...,0
2,E06832.1,GTGGACCGCAAAGAACAGTTTCGAATCGGAAGCTTGCTTAACGTAG...,0
3,X51713.1,TTTCATTTTACCACACGTAACGGAGAACCACACATGATCGTCGGTA...,0
4,X51710.1,ATGAATAACCAACGAAAAAATGCGAGAAAAACGCCTTTCAATATGC...,0
...,...,...,...
3453,EU482554.1:75-415,ATGAATAACCAACGAAAAAAGGCGAGAAGTACGCCTTTCAATATGC...,1
3454,EU482550.1:75-415,ATGAATAACCAACGAAAAAAGGCGAGAAGTACGCCTTTCAATATGC...,1
3455,DQ364557.1:5-339,ACCAACGAAAAAAGGCGAGAAGTACGCCTTTCAATATGCTGAAACG...,1
3456,DQ364555.1:5-339,ACCAACGAAAAAAGGCGAGAAGTACGCCTTTCAATATGCTGAAACG...,1
3457,DQ364554.1:5-339,ACCAACGAAAAAAGGCGAGAAGTACGCCTTTCAATATGCTGAAACG...,1

In [6]:
df_combined.to_excel("Dataset/Dataset.xlsx", index=False)